* {
  padding: 0;
  margin: 0; }

html {
  font-size: 10px; }

body {
  padding: 1.5rem;
  box-sizing: border-box; }

.margin-top {
  margin: 6rem 0; }

@keyframes moveToleft {
  0% {
    transform: translateX(-10rem);
    opacity: 0; }
  60% {
    transform: translateX(1rem); }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes moveToRight {
  0% {
    transform: translateX(10rem);
    opacity: 0; }
  60% {
    transform: translateX(-1rem); }
  100% {
    transform: translateX(0px);
    opacity: 1; } }

@keyframes moveToBootom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: #777; }

.header-about {
  display: inline-block;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  transition: all .2s; }
  .header-about:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.header-text {
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1.5rem; }

.about-pragraph {
  font-size: 1.6rem; }
  .about-pragraph:not(:last-child) {
    margin-bottom: 2rem; }

.text-center {
  text-align: center; }

.margin-bottom {
  margin-bottom: 8rem; }

.btn, .btn:link, .btn:visited {
  padding: 1.5rem 4rem;
  text-decoration: none;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  margin-top: 2rem;
  position: relative;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleY(1.4) scaleX(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  outline: none; }

.btn::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  border-radius: 10rem;
  transition: all .4s;
  z-index: -1; }

.btn-animated {
  animation: moveToBootom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn-green {
  background-color: #28b485;
  color: #fff;
  text-transform: uppercase; }
  .btn-green::after {
    background-color: #28b485; }

.row {
  width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    padding: 15px 0; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row .col-1-of-2 {
    width: calc((100% - 4rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 4rem)/3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 4rem)/4); }
  .row .col-2-of-3 {
    width: calc(2*((100% - 2 * 4rem)/3) + 4rem); }
  .row .col-2-of-4 {
    width: calc(2*((100% - 3 *4rem)/4) + 4rem); }
  .row .col-3-of-4 {
    width: calc(3*((100% - 3*4rem)/4) + 2* 4rem); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  text-align: left;
  height: 50rem; }
  .card__side {
    height: 50rem;
    transition: all .5s;
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: .8rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0); }
  .card__picture {
    height: 24rem;
    background-size: cover;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../images/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../images/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../images/nat-7.jpg); }
  .card__heading {
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 3rem;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    width: 71%;
    overflow: hidden; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone; }
    .card__heading-span-1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
    .card__heading-span-2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85)); }
    .card__heading-span-3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85)); }
  .card__details {
    padding: 2rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #777; }
    .card__details ul {
      list-style: none; }
      .card__details ul li {
        padding: 1rem;
        font-size: 1.5rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__price {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .card__price-box {
    margin-bottom: 10rem; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
  .card__btn {
    width: 65%; }

.feature-section {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../../images/nat-4.jpg");
  background-size: cover;
  font-size: 2rem;
  transform: skewY(-5deg);
  margin-top: -9rem; }
  .feature-section > * {
    transform: skewY(5deg); }

.story {
  background-color: rgba(255, 255, 255, 0.6);
  width: 57%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transform: skewX(-12deg);
  font-size: 1.6rem; }
  .story__shape {
    width: 15rem;
    height: 15rem;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translate(-3rem) skewX(12deg);
    float: left;
    position: relative; }
  .story__img {
    height: 100%;
    transform: translateX(-4rem); }
  .story__text {
    transform: skewx(12deg); }
  .story__heading {
    text-transform: uppercase; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: all .3s;
    backface-visibility: hidden; }
  .story__btn {
    text-align: center; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__img {
    filter: blur(3px) brightness(80%); }

.back-ground-video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .15;
  z-index: -1; }
  .back-ground-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  padding: 1.5rem 2rem;
  width: 40%;
  border-radius: 3px;
  outline: none;
  display: block;
  border: none;
  border-bottom: 3px solid transparent;
  transition: all .3s; }
  .form__input:focus {
    border-bottom: 3px solid #28b485; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  display: block;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: .7rem;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 23%;
  display: inline-block; }

.form__radio-input {
  display: none; }

.form__radio-label {
  padding-left: 6rem;
  position: relative; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: solid 5px #28b485;
  position: absolute;
  left: 0px;
  top: -9px;
  border-radius: 50%;
  display: inline-block; }
  .form__radio-button::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #28b485;
    opacity: 0;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__btn-green {
  margin-top: 4rem; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../images/hero.jpg");
  height: 95vh;
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  .header .logo {
    position: absolute;
    top: 2.5rem;
    left: 2rem; }
    .header .logo .img-logo {
      height: 3rem; }
  .header .heading-box {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    backface-visibility: hidden; }
    .header .heading-box .main-header {
      font-size: 6rem;
      font-weight: 400;
      display: block;
      animation-name: moveToleft;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      letter-spacing: 1.2rem; }
    .header .heading-box.sub-header {
      font-weight: 400;
      font-size: 2rem;
      animation-name: moveToRight;
      animation-duration: 2s;
      animation-timing-function: ease-in;
      letter-spacing: 1.2rem; }

.section-photo {
  position: relative; }
  .section-photo .photos {
    width: 55%;
    box-shadow: 0rem 1.5rem 2rem rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
  .section-photo .photo-nat-1 {
    top: -2rem;
    left: 0; }
  .section-photo .photo-nat-2 {
    top: 2rem;
    right: 0; }
  .section-photo .photo-nat-3 {
    top: 10rem;
    left: 7rem; }
  .section-photo .photos:hover {
    transform: sclae(1.1);
    z-index: 11;
    box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.5);
    outline: solid 10px #55c57a; }
  .section-photo .photos:not(:hover) {
    transform: scale(0.9); }

.about-section {
  background-color: #f7f7f7;
  padding: 15rem 0;
  margin-top: -20vh; }

.btn-learn-more:link, .btn-learn-more:visited {
  color: #55c57a;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  font-size: 1.6rem;
  padding: 0.9rem 0.5rem;
  transition: all .2s; }

.btn-learn-more:hover {
  transform: translateY(-2px);
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.5); }

.btn-learn-more:active {
  transform: translateY(0);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.feature-item {
  background-color: rgba(255, 255, 255, 0.6);
  text-align: center;
  padding: 3.5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  border-radius: .5rem;
  transition: all .3s;
  font-size: 1.5rem; }
  .feature-item .icon {
    font-size: 3.5rem;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    display: inline-block;
    color: transparent; }
  .feature-item .feature-heading {
    text-transform: uppercase;
    white-space: nowrap;
    margin: 1rem 0; }

.feature-item:hover {
  transform: scaleY(1) scale(1.1); }

.tour-section {
  background-color: #f7f7f7;
  margin-top: -7rem;
  text-align: center;
  padding-bottom: 9rem; }
  .tour-section .header-tour {
    padding: 15rem 0 1rem 0;
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    color: transparent;
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: all .5s; }
    .tour-section .header-tour:hover {
      transform: skewY(2deg) skewX(15deg) scale(1.1);
      text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.story-section {
  margin-top: -64px;
  padding: 6rem 0;
  position: relative; }

.booking-section {
  background-image: linear-gradient(#7ed56f, #28b485);
  padding: 8rem 0; }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../../images/nat-10.jpg");
  background-size: cover;
  width: 75%;
  margin: 0 auto;
  height: 43rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.5); }

.margin {
  margin: 20px 0 30px 0; }
