//COLOR
$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-white:#fff;
$color-grey:#777;
$color-black:#000;
$color-light-grey:#f7f7f7;
$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;
$color-terarriy-light:#2998ff;
$color-terarriy-dark:#5643fa;



//Grid
$gutter-vertical:8rem;
$gutter-horizontal:4rem;
$grid-width:114rem;