@keyframes moveToleft{
    0%{
        transform: translateX(-10rem);
        opacity: 0;
    }

    60%{
        transform: translateX(1rem);
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }

}
@keyframes moveToRight{
    0%{
        transform: translateX(10rem);
        opacity: 0;
    }

    60%{
        transform: translateX(-1rem);
    }

    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes moveToBootom{
    0%{
        opacity: 0;
        transform: translateY(10rem)
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}