.footer{
    background-color: #333;
    color:#fff;
    padding:7rem 0;

    &__logo-box{
        text-align: center;
        padding: 8rem 0 4rem 0;
    }

    &__logo{
        width: 12rem;
        height: 9rem;
    }

    &__navigation{
        border-top: 1px solid #777;
        padding-top: 2rem;
        display: inline-block;
    }

    &__item{
        list-style: none;
        display: inline-block;
        &:not(:last-child){
            margin-right: 2rem;
        }
    }

    &__link{
        text-decoration: none;
        color:$color-white;
        font-size:1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        display: inline-block;
        transition: all .3s;
        &:hover{
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black,.4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright{
        width:86%;
        float:right;
        border-top: 1px solid #777;
        padding-top: 2rem;
        display: inline-block;
    }
}