.about-section{
    background-color: $color-light-grey;
    padding: 15rem 0;
    margin-top: -20vh;
}

.btn-learn-more{
    &:link,
    &:visited{
        color:$color-primary;
        text-decoration: none;
        border-bottom:1px solid $color-primary;
        font-size: 1.6rem;
        padding:0.9rem 0.5rem;
        transition:all .2s;
    }

    &:hover{
        transform: translateY(-2px);
        background-color: $color-primary;
        color:$color-white;
        box-shadow: 0rem 1rem 2rem rgba($color-black,0.5);
    }

    &:active{
        transform: translateY(0); 
        box-shadow: 0rem 0.5rem 1rem rgba($color-black,0.5);
    }
   
}

.feature-item{
    background-color: rgba($color-white,.6);
    text-align: center;
    padding:3.5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black,.15);
    border-radius: .5rem;
    transition: all .3s;
    font-size:1.5rem;
    .icon{
        font-size: 3.5rem;
        background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
        -webkit-background-clip: text;
        display: inline-block;
        color:transparent;
    }
    .feature-heading{
        text-transform: uppercase;
        white-space: nowrap;
        margin: 1rem 0;
    }
}

.feature-item:hover{
    transform: scaleY(1) scale(1.1);
}

.tour-section{
    background-color: #f7f7f7;
    margin-top: -7rem;
    text-align: center;
    padding-bottom:9rem;
    .header-tour{
        padding:15rem 0 1rem 0;
        background-image: linear-gradient(to right , $color-primary-light , $color-primary-dark);
        -webkit-background-clip: text;
        color:transparent;
        text-align: center;
        font-weight:700;
        font-size:2.5rem;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        transition: all .5s;

        &:hover{
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black,0.2);
        }
    }
}

.story-section{
    margin-top: -64px;
    padding:6rem 0;
    position: relative;
}

.booking-section{
    background-image: linear-gradient($color-primary-light,$color-primary-dark);
    padding:8rem 0;
}

.book{
     background-image:linear-gradient(105deg,
     rgba($color-white,.9) 0%,
     rgba($color-white,.9) 50%,
     transparent 50%),
     url('../../images/nat-10.jpg');
     background-size: cover;
     width:75%;
     margin:0 auto;
     height:43rem;
     padding:1.5rem 2rem;
     box-shadow: 0 1.5rem 4rem rgba($color-black,0.5); 
}

.margin{
    margin: 20px 0 30px 0;
 }